<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt" version="1.0.0.0" targetFramework="net45" />
  <package id="CryptSharp" version="1.2.0.1" targetFramework="net45" />
  <package id="mvc-utilities" version="1.13.5.0" targetFramework="net45" />
  <package id="mvc-utilities-bcrypt" version="1.13.5.0" targetFramework="net45" />
</packages>